<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background-color:lightblue">
<h1 align="center">Witaj w świecie alkoholi </h1>
</div>
<!--
Odpowiedznikiem scanera dla htmla  formularz i znacznik form <form>
lebel odpowiednik puts
name odpowiedznik nazywanej zmiennej w java
br odpowiednik println docelowo sie nie stosuje



---->
<form action="/result">
    <div align="center" style="background-color:lightblue" >
    <label  >Podaj ilość alkoholu w litrach</label>
    <input type="number" value="0.5" step="0.1"
           name="quantity">
    <br>
    <label style=>Podaj wagę w kilogramach</label>
    <input type="number" value="70" step="1"
           name="weight">
    <br>
    <label>Wybierz alkohol</label>
    <select name="alcohol">
        <option value="BEER">Piwo</option>
        <option value="VODKA">Wódka</option>
        <option value="WINE">Wino</option>
        <option value="HOOCH">Bimber</option>
    </select>
    <br>

   <input type="submit" value="Obicz alkohol" style="background-color:white" >

</div>
</form>
</body>
</html>